/* CSS Variables */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

:root {
  --color-dark-blue-1: #000235;
  --color-dark-blue-2: #010350d7;
  --color-purple-1: #964362;
  --color-purple-2: #4a274e;

  --roboto: "Roboto", cursive;
}
