.card-title,
.title {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  text-align: center;
}

.card-image {
  position: relative;
}

.top-left {
  position: absolute;
  color: white;
  font-size: 14px;
  top: 5px;
  left: 9px;
  background: rgba(58, 58, 58, 0.555);
  padding: 3px 8px;
  border-radius: 10px;
}

.bottom-left {
  position: absolute;
  font-size: 14px;
  bottom: -52px;
  left: 6px;
  width: 120px;
  border-radius: 10px;
}

.bottom-right {
  position: absolute;
  color: white;
  font-size: 14px;
  bottom: -36px;
  right: 11px;
}

.activity-image {
  width: 246px;
  height: 180px;
  /* border-radius: 10px 10px 10px 0px; */
}

/* Start Variant 1 */
.variant1{
  width: 272px !important;
}

.host-image {
  width: 50px !important;
  height: 50px !important;
  padding-top: 5px;
  float: left;
  background: white;
  padding: 5px;
  border-radius: 20px ;
}

.host-profile {
  padding-top: 5px;
  float: left;
  background: white;
  padding: 10px;
  border-radius: 10px;
}

.host-tag,
.host-name {
  text-align: left;
  margin-left: 30px;
}

.host-tag {
  padding-top: 17px;
  margin-bottom: 0px;
}

.host-name {
  margin-top: -6px !important;
}

.people {
  background: rgba(58, 58, 58, 0.555);
  padding: 3px 8px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.details-button {
  padding: 4px 10px;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  background: purple;
}
/* End Version 1 */