@import url(../partials/_variables.css);
.logo {
  height: 40px;
}

.sign-up-button {
  border: none;
  border-radius: 10px;
  padding: 5px 20px;
}

.create-button {
  background: rgba(128, 0, 128, 0.616);
  color: white !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  border-radius: 10px;
}

.create-button:hover {
  background: purple;
}

.unsigned-menu, .signed-menu {
  font-family: var(--roboto);
}

.unsigned-menu:hover, .signed-menu:hover {
  color: #6610f2 !important;
}

.user-profile{
  margin-right: 25px;
  margin-top: 2px;
  font-family: var(--roboto);
}

.user-profile:hover{
  color: #6610f2 !important;
}

.log-out{
  color: rgba(128, 128, 128, 0.788);
  margin-top: 9px;
  text-decoration: underline;
  cursor: pointer;
  font-family: var(--roboto);
}

.log-out:hover{
  color: #6610f2
}