@import url(../partials/_variables.css);
.logo {
  height: 40px;
}

.sign-up-button {
  border: none;
  border-radius: 10px;
  padding: 5px 20px;
}

.create-button {
  background: rgba(128, 0, 128, 0.616);
  color: white !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  border-radius: 10px;
}

.create-button:hover {
  background: purple;
}

.unsigned-menu {
  font-family: var(--roboto);
}

.unsigned-menu:hover {
  color: #6610f2 !important;
}
