/* @import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&family=Mukta&family=Ubuntu:wght@300;400&display=swap");

.login,
.signup {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  /* font-family: "M PLUS 1 Code", sans-serif; */
  font-family: "Mukta", sans-serif;
  overflow: hidden;
}

.login-wrapper,
.signup-wrapper {
  width: 100%;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}

.form-title {
  color: white;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 80px;
  border-radius: 15px 15px 0px 0px;
  background: url(../assests/images/form-bg.jpg);
  background-size: cover;
}

.form-container {
  padding: 25px 20px;
}

.login-form,
.signup-form {
  height: 45px;
  margin-bottom: 35px;
}

.login-label,
.signup-label {
  width: 100%;
  font-size: 18px;
  padding: 0px 4px;
}

.login-input,
.signup-input {
  height: 90%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding-left: 15px;
}

/* Start Login Area */

.login-button {
  margin-top: 10px;
  height: 100%;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 15px;
  color: white;
  /* background: rgba(38, 36, 129, 0.767); */
  background: #010350d7;
  font-size: 22px;
}

.login-button:hover {
  /* background: rgb(38, 36, 129); */
  background: #000235;
}

.login-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  display: inline-block;
}

.login-input:focus {
  outline: 2px solid #030A27;
}

.signup-link {
  padding-left: 5px;
  color: rgba(38, 36, 129, 0.767);
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}

.redirect-link {
  text-align: center;
  font-weight: 600;
}

/* End Login Area */

/* Start Sign Up Area */

.signup-title {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 80px;
  color: #fff;
  border-radius: 15px 15px 0px 0px;
  background: url(../assests/images/signup3-bg.jpg);
  background-size: cover;
  margin-bottom: 0px;
}

.signup-login {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;

}

.signup-input:focus {
  outline: 2px solid #030A27;
}

.signup-button{
  margin-top: 12px;
  height: 100%;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 15px;
  color: white;
  background: #4A274E;
  font-size: 22px;
}

.signup-button:hover{
  background: #030A27;
}

.parent-link{
  text-align: center;
}

.signup-login{
  text-align: center;
  font-weight: 600;
  font-size: 16px/18px;
  margin-top: 20px;
  display: inline-block;
}

.login-link{
  text-decoration: none;
  color: #964362;
  padding-left: 2px;

}

.login-link:hover{
  text-decoration: underline;
  color: #4A274E;
}

/* End Sign Up Area */
